/* Tailwind CSS variables */
@font-face {
  font-family: Clash Grotesk;
  src: url("../src/assets/fonts/ClashGrotesk-Variable.ttf")
  /* font-style: normal;
  font-weight: 200 700;
  font-display: swap; */
}

@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #002E25;
  --color-primary-dark: #012921;
  --color-secondary: #FFF629;
  --color-tertiary: #5D76D3;
  --color-black-100: #100d25;
  --color-black-200: #090325;
  --color-white-100: #f3f3f3;
  --color-white-200: #E0FFFF;

  /* Font Size */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 4rem;
  --text-7xl: 5rem;

  /* Texts fonts */
  --font-clash: "Clash Grotesk",  monospace
}

/* All CSS */

#root {
  width: 100%;
  /* max-width: 1280px; */
  margin: 0;
  /* padding: 2rem; */
  /* text-align: center; */
  --detail-medium-contrast: rgb(25, 25, 25, 0.8);
  --detail-low-contrast: rgb(21, 21, 21);
  --detail-medium-contrast-rgb-value: 25, 25, 25;
}

.burger-icon {
  fill: none;
  stroke: white; /* Set the desired default color */
  transition: stroke 0.3s ease-in-out; /* Optional smooth color change */
}

.burger-icon:hover {
  stroke: #F0FF3D; /* Set the hover color */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
