@import "tailwindcss";

/* TODO: Check why the bg-color isn't chaning when using tailwind in the App.jsx */
:root {
  font-family: "Clash Grotesk", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #012921;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.radial-gradient {
  background: radial-gradient(
    circle at 50% 50%,
    rgba(1, 61, 49, 0.05) 0%,
    transparent 60%
  ), rgba(255, 246, 41, 1);
}

.linear-mask {
  mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
  /* Use this to work in every browser */
  --webkit-mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
}

.linear-overlay {
  background-image: linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0.1) calc(var(--x) + 30%)
calc(var(--x) + 20%),
    rgba(255, 255, 255, 0.5) calc(var(--x) + 30%)
calc(var(--x) + 25%),
    rgba(255, 255, 255, 0.1) calc(var(--x) + 30%)
calc(var(--x) + 100%),
  );
  mask:
    linear-gradient(black, black) content-box,
    linear-gradient(black, black);
  --webkit-mask:
    linear-gradient(black, black) content-box,
    linear-gradient(black, black);
  mask-composite: exclude;
  --webkit-mask-composite: xor;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
